services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - ml
      - nlp
      - cv
      - db


  ml:
    build:
      context: ./ml
    ports:
      - "8001:8001"
    volumes:
      - ./data:/data
    environment:
      - USE_DB_FEEDBACK=true
      - MERGE_PUBLIC_DATA=true
      - PUBLIC_DATA_PATH=/data/public_training.csv
      - FEEDBACK_DATA_PATH=/data/feedback.csv

  nlp:
    build:
      context: ./nlp
    ports:
      - "8002:8002"

  cv:
    build:
      context: ./cv
    ports:
      - "8003:8003"
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: phishing
      POSTGRES_PASSWORD: phishing
      POSTGRES_DB: phishingdb
